---
layout: default
description: A listing of open source projects from How To ADHD.
ext-js:
  - href: https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js
    sri: sha256-4PIvl58L9q7iwjT654TQJM+C/acEyoG738iL8B8nhXg=
js:
  - /assets/main.js
---

<h2>Usage</h2>

<p>Add this Satis repository to your composer.json</p>

<pre><code>{
  "repositories": [{
    "type": "composer",
    "url": "{{ url }}"
  }]
}</code></pre>

<h2>Packages</h2>

<form>
  <div class="form-group">
    <input type="text"
           id="search"
           class="form-control"
           placeholder="Filter packages"
           autocomplete="off"
           autofocus>
  </div>
</form>

<div id="package-list">
  {% for name, package in packages %}{% include 'package.html.twig' %}{% endfor %}
</div>

<div id="ft">
  <p class="text-center">
    <small>Last updated: <time datetime="{{ "now"|date(constant('\DateTime::RFC3339')) }}">{{ "now"|date('l, d M Y H:i:s T') }}</time></small>
  </p>
  <p class="text-center">
    <small>This Composer repository is powered by <a
        href="https://github.com/composer/satis">Satis</a> {{ constant('Composer\\Satis\\Satis::VERSION') }}</small>
  </p>
</div>
